
auto/
__pycache__/
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*/vgcore*
.coverage
pytest-cov.xml
pytest.xml

/musterloesung/tests/auswertung
/musterloesung/Testcase_Generatror/*

/auswertung/teilnehmer.json
